.project
.classpath
.settings/

war/WEB-INF/classes/
war/WEB-INF/appengine-generated/
war/WEB-INF/lib/appengine*
war/WEB-INF/lib/datanucleus*
war/WEB-INF/lib/geronimo-jpa*
war/WEB-INF/lib/jdo-api*
war/WEB-INF/lib/jsr*
war/WEB-INF/lib/transaction-api*

src/twitter4j.properties